@use '@styles/settings/colors';
@use '@styles/settings/fonts';

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  font-family: fonts.$font-text;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.7s;

  &:hover {
    color: colors.$primary-color;
    transition: color 0.7s;
  }
}

p {
  color: colors.$text-color;
  letter-spacing: 0.16px;
  line-height: 1.3;
  font-size: 1rem;
  margin: 0;
}

strong {
  font-weight: 700;
}
